from launch import LaunchDescription
from launch_ros.actions import Node
from ament_index_python.packages import get_package_share_directory
import os

def generate_launch_description():
    package_name = 'fixposition_driver_ros2'
    param_file_name = 'tcp.yaml'
    param_file_path = os.path.join(get_package_share_directory(package_name), 'launch', param_file_name)

    return LaunchDescription([
        Node(
            package=package_name,
            executable='fixposition_driver_ros2_exec',
            name='fixposition_driver_ros2',
            output='screen',
            parameters=[param_file_path],
            respawn=True,
            respawn_delay=5
        ),
    ])